<div class="columns is-desktop" @animate>

  <div class="column is-two-thirds-desktop">
    <div class="columns is-multiline" dragula="plan" [(dragulaModel)]="plan">
      <div class="column is-half" *ngFor="let recipe of plan" @animate>
        <recipe-card *ngIf="recipe?.id" [recipe]="recipe" (replace)="onReplace(recipe, $event)" (delete)="onDelete(recipe)"></recipe-card>
        <empty-card *ngIf="!recipe?.id" (replace)="onReplace(recipe, $event)"></empty-card>
      </div>
    </div>
  </div>

  <div class="column is-one-third-desktop">
    <div class="panel">
      <div class="panel-heading" i18n>Shopping list</div>
      <span dragula="list" [(dragulaModel)]="list">
        <label class="panel-block" *ngFor="let recipeIngredient of list">
          {{recipeIngredient | recipeIngredient}}
        </label>
      </span>
      <div class="panel-block">
        <button class="button is-primary is-outlined is-fullwidth" i18n (click)="onClick()">Add to Alexa</button>
        <lwa-button #button (authorize)="onAuthorize($event)" hidden></lwa-button>
      </div>
    </div>
  </div>

</div>
