@import "~bulma/sass/utilities/derived-variables";

.card {
  border: 4px dashed $border-light;
}

.icon {
  color: $text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
