<div class="tags are-medium mb-2">

  <span class="tag is-warning is-light" *ngIf="isCarbie">
    <span class="icon">
      <i class="fas fa-fw fa-bread-slice"></i>
    </span>
  </span>

  <span class="tag is-success is-light" *ngIf="isFruit">
    <span class="icon">
      <i class="fas fa-fw fa-apple-alt"></i>
    </span>
  </span>

  <span class="tag is-success is-light" *ngIf="isVegetables">
    <span class="icon">
      <i class="fas fa-fw fa-carrot"></i>
    </span>
  </span>

  <span class="tag is-danger is-light" *ngIf="isMeat">
    <span class="icon">
      <i class="fas fa-fw fa-drumstick-bite"></i>
    </span>
  </span>

  <span class="tag is-info is-light" *ngIf="isSeafood">
    <span class="icon">
      <i class="fas fa-fw fa-fish"></i>
    </span>
  </span>

  <span class="tag is-warning is-light" *ngIf="isEggs">
    <span class="icon">
      <i class="fas fa-fw fa-egg"></i>
    </span>
  </span>

  <span class="tag is-success is-light" *ngIf="isLegumes">
    <span class="icon">
      <i class="fas fa-fw fa-leaf"></i>
    </span>
  </span>

  <span class="tag is-warning is-light" *ngIf="isDairy">
    <span class="icon">
      <i class="fas fa-fw fa-cheese"></i>
    </span>
  </span>

</div>
