<div class="card">

  <div class="card-content" (click)="onClick()">
    <p class="title is-4 has-text-primary has-text-weight-light">{{recipe?.name}}</p>
    <p class="subtitle is-6">{{recipe?.reference}}</p>
    <div class="content">
      <category-tags [categories]="recipe?.categories!"></category-tags>
      <ul *ngIf="isActive">
        <li *ngFor="let recipeIngredient of recipe?.ingredients">
          {{recipeIngredient | recipeIngredient}}
        </li>
      </ul>
    </div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" (click)="onReplace()" i18n>Replace</a>
    <a class="card-footer-item" (click)="onDelete()" i18n>Delete</a>
  </footer>

  <recipe-modal #modal (select)="onSelect($event)"></recipe-modal>

</div>
