<div class="card">

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{recipe?.name}}</p>
        <p class="subtitle is-6">{{recipe?.tags?.join(", ")}}</p>
      </div>
    </div>

    <div class="content">
      <ul>
        <li *ngFor="let recipeIngredient of recipe?.ingredients">
          {{recipeIngredient | recipeIngredient}}
        </li>
      </ul>
    </div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" (click)="activate()">Sostituisci</a>
    <a class="card-footer-item" (click)="onDelete()">Elimina</a>
  </footer>

  <recipe-modal #modal (select)="onReplace($event)"></recipe-modal>

</div>
