<nav class="navbar is-fixed-top is-primary is-spaced has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img alt="Demetra" src="assets/images/logo-inverted.png">
    </a>
    <a class="navbar-burger" [class.is-active]="isActive" (click)="onClick()">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="plan-dashboard" i18n>Meal plan</a>
    </div>
  </div>
</nav>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <a class="has-text-white" href="https://github.com/avalloneandrea/demetra-app" i18n>Demetra {{appVersion}} by Andrea Avallone</a><br>
    <a class="has-text-white" href="https://github.com/avalloneandrea/demetra-app/blob/master/LICENSE" i18n>Demetra is licensed under the MIT License</a>
  </div>
</footer>
