<form class="container is-max-desktop" [formGroup]="form" (ngSubmit)="onSubmit()" @animate>

  <div class="field">
    <label class="label" i18n>Number of days</label>
    <div class="control has-icons-left">
      <input class="input is-primary is-medium" inputMode="decimal" type="number" min="1" formControlName="days">
      <span class="icon is-left has-text-primary">
        <i class="far fa-fw fa-calendar-alt"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label" i18n>Number of people</label>
    <div class="control has-icons-left">
      <input class="input is-primary is-medium" inputMode="decimal" type="number" min="1" formControlName="people">
      <span class="icon is-left has-text-primary">
        <i class="far fa-fw fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">&nbsp;</label>
    <div class="control">
      <button class="button is-primary is-medium is-fullwidth" type="submit" [class.is-loading]="form.disabled">
        <span class="icon">
          <i class="far fa-fw fa-file-alt"></i>
        </span>
        <strong i18n>Submit</strong>
      </button>
    </div>
  </div>

</form>
